.CheckboxTracker_root{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.CheckboxTracker_root.small{
    gap: 0;
}

.CheckboxTracker_label{
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.CheckboxTracker_label.small{
    font-size: 16px;
}

.CheckboxTracker_checkboxButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
