.Page_root{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.Page_main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Page_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Page_pokedex{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 1500px;
    width: 1500px;
    height: 900px;
}

.Page_leftSide{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--whiteColor);
    border-radius: var(--borderRadius);
    max-width: 750px;
}


.Page_rightSide{
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: var(--borderRadius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-width: 750px;
    position: relative;
}
.Page_rightSideBackground{
    flex: 1;
    background-color: var(--whiteColor);
    position: absolute;
    left: 0;
    right: 0;
    top: 134px;
    bottom: 0;
}

.Page_rightSideContent{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.Page_leftSideContent{
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Page_leftSideHeader{
    display: flex;
    flex-direction: row;
    max-height: 30px;
    flex: 1;
    margin-bottom: 10px;
}




