
.SkillBox_root{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--pokedexPrimary);
    border-radius: var(--borderRadius);
    padding: 30px 15px;
    flex: 1;
    justify-content: center;
}

.SkillBox_skillGroup{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.SkillBox_header{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}