

.SkillBox_root{
    display: flex;
    flex-direction: row;
    width: 240px;
    position: relative;
}

.SkillBox_skillContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--pokedexPrimary);
    border-radius: var(--borderRadius);
    padding: 30px 15px;
    flex: 1;
}

.SkillBox_skillGroup{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.SkillBox_header{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}