

.SkillBox_root{
    display: flex;
    flex-direction: row;
    width: 160px;
    position: relative;
}

.SkillBox_skillContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--pokedexPrimary);
    border-radius: var(--borderRadius);
    padding: 30px 15px;
    flex: 1;
}

.SkillBox_skillGroup{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.SkillBox_tabContainer{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    justify-content: space-evenly;
    position: absolute;
    right: -23px;
    top: 0;
    bottom: 0;
}

.SkillBox_tab{
    background-color: var(--pokedexSecondary);
    writing-mode: vertical-lr;
    height: 152px;
    padding-right: 5px;
    text-align: center;
    border-top-right-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    color: var(--whiteColor);
    text-transform: uppercase;
}