.StatPage_root{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}
.StatPage_content{
    /* margin-top: 80px; */
    padding: 15px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.StatPage_topBorder{
    position: absolute;
    width: 100%;
    height: 135px;
}

.StatPage_attributeContainer{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.StatPage_socialAttributeContainer{
    display: flex;
    flex-direction: column;
    gap: 5px; 
    justify-content: space-between;
}

.StatPage_skillGroups{
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 40px;
}

.StatPage_row{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
}

.StatPage_column{
    display: flex;
    flex-direction: column;
    gap: 5px;
}



