.StatPage_root{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}
.StatPage_content{
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 26px;
    padding-top: 65px;
    justify-content: space-between;
}

.StatPage_topBorder{
    position: absolute;
    width: 100%;
    height: 135px;
}

.StatPage_attributeGroupContainer{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.StatPage_attributeRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}
.StatPage_attributeRow.justify-end{
    justify-content: flex-end;
}

.StatPage_socialAttributeContainer{
    display: flex;
    flex-direction: row;
    width: 380px;
    gap: 12px; 
    justify-content: space-between;
}

.StatPage_attributeContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.StatPage_skillGroups{
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 40px;
}

.StatPage_row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.StatPage_column{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.StatPage_hDivider{
    position: absolute;
    height: 20px;
    width: 400px;
    top: 410px;
    right: 30px;
}

.StatPage_vDivider{
    position: absolute;
    left: 300px;
}