:root{
    /* Colors */
    --blackColor: #2d2c2d;
    --whiteColor: #faf5ec;
    
    --grayPrimary: #818386;
    --graySecondary: #58595b;

    --pokedexPrimary: #d05f35;
    --pokedexSecondary: #a34f2f;

    --attributeColor: #59b1c3;
    --toughColor: #f4e096;
    --coolColor: #ebb190;
    --beautyColor: #b5c8df;
    --cleverColor: #bbce98;
    --cuteColor: #eabac6;

    /* px sizes */
    --borderRadiusSmall: 15px;
    --borderRadius: 20px;
    /* --borderRadiusLarge:  */
}




.roundedCheckbox{
    clip-path: circle(50% at 50% 50%);
    width: 24px;
    height: 24px;
    background-color: var(--whiteColor);
    appearance: none;
    -webkit-appearnce: none;
    border-radius: 50%;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}
.roundedCheckbox.small{
    width: 16px;
    height: 16px;
}

.roundedCheckbox:checked{
    appearance: none;
    -webkit-appearnce: none;
    clip-path: circle(50% at 50% 50%);
    background-color: var(--blackColor);
}
