
.CheckboxLabel_root{
    display: flex;
    flex-direction: row;
    width: 300px;
    position: relative;
    align-items: center;
    height: 40px;
}
.CheckboxLabel_root.wide{
    width: 100%;
}

.CheckboxLabel_inputLabel{
    padding: 5px 40px 5px 10px;
    border: solid var(--borderWidth) var(--blackColor);
    border-radius: var(--borderRadius);
    height: 32px;
    flex: 1;
    background-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    background-color: rgba(var(--whiteColor-rgb), .5);
}

.CheckboxLabel_form{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.CheckboxLabel_container{
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    display: flex;
}

.CheckboxLabel_container input {
    visibility: hidden;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    overflow: hidden;
}

.CheckboxLabel_checkbox {
    border: var(--borderWidth) solid var(--blackColor);
    display: inline-block;
    border-radius: 50%;
    flex: 1;
    background: var(--whiteColor);
  }
.CheckboxLabel_checkbox:hover{
    background-color: var(--whiteColorSecondary);
  }
[type=checkbox]:checked + .CheckboxLabel_checkbox {
    background-image: url('/icons/general/TickMark.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }