.PageStepper_root{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PageStepper_arrowButton{
    flex-direction: column;
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--whiteColor);
    border-style: solid;
    border-radius: var(--borderRadiusSmall);
    border-width: var(--borderWidth);
    border-color: var(--blackColor);
    transition: 0.15s;
}
.PageStepper_arrowButton:hover{
    background-color: var(--whiteColorSecondary);
}
.PageStepper_arrowButton:active{
    background-color: var(--whiteColorTertiary);
}

.PageStepper_leftArrow{
    transform: Rotate(180deg);
}

.PageStepper_dotOuter{
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PageStepper_dotInner{
    width: 10px;
    height: 10px; 
    border-radius: 50%;
    background-color: var(--blackColor);
    opacity: 0.3;
}
.PageStepper_dotInner.current{
    width: 15px;
    height: 15px;
    opacity: 0.6;
}

